@use './vars' as *;

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: $light-gray;
  color: $gray;
  font-family: $font-family;
  font-size: 0.675rem;
  font-weight: $font-regular-weight;
}

strong {
  font-weight: $font-bold-weight;
}
