@use 'sass:math';

@use './vars' as *;
@use './reset';
@use './base';
@use './helpers';

header {
  background-color: $gray;
  color: #fff;
  padding: 8em 8%;
  text-align: center;
  width: 100%;
}

.title {
  margin-top: 3em;
}

.title-name,
.title-job {
  display: block;
  text-transform: uppercase;
}

.title-name {
  font-size: 3.5em;
  font-weight: $font-bold-weight;
  text-transform: uppercase;
}

.title-job {
  font-size: 3em;
  font-weight: $font-light-weight;
  margin-top: 0.5em;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 4em auto 0;
  max-width: 420px;
}

.contact__link {
  color: #fff;
  font-size: 1.6em;
  text-align: center;
  text-decoration: none;
}

@media (min-width: $tablet-min-width) {
  .contact {
    flex-direction: row;
  }
}

@media (max-width: $mobile-max-width) {
  .contact {
    & > a + a {
      margin-top: 1em;
    }
  }
}

.section-title {
  display: flex;
  font-size: 2em;
  margin-bottom: 2rem;
  text-transform: uppercase;
}

.about-section,
.experiences-section,
.education-section,
.interest-section {
  padding: 6em 8%;
}

.section-wrapper {
  margin: 0 auto;
  max-width: 1280px;
  width: 100%;
}

.about-me,
.about-skills {
  font-size: 1.4em;
}

.about-me {
  line-height: 1.4em;
}

.about-skills {
  margin-top: 4em;

  & > li {
    & + li {
      margin-top: 0.5em;
    }
  }
}

@media (min-width: $laptop-min-width) {
  .about-section {
    & > .section-wrapper {
      background-image: url('/images/profile.webp');
      background-position: right center;
      background-repeat: no-repeat;
      background-size: contain;

      & > * {
        width: 50%;
      }
    }
  }
}

.experiences-section,
.interest-section {
  background-color: $light-gray;

  & > .section-title {
    text-align: center;
  }
}

.experience,
.education {
  border-color: $yellow;
  border-left-style: solid;
  border-left-width: 0.5em;
  padding: 0 1.5em 1em;
  position: relative;

  &::before {
    background-color: $yellow;
    border-radius: 100%;
    border-style: solid;
    border-width: 0.4em;
    content: '';
    display: block;
    height: 1.75em;
    left: -1.15em;
    position: absolute;
    top: 0;
    width: 1.75em;
  }
}

.experience {
  &::before {
    border-color: $light-gray;
  }
}

@media (max-width: $laptop-max-width) {
  .experience,
  .education {
    border-left-style: solid;
    border-left-width: 0.5em;

    &:nth-of-type(n + 2) {
      padding-top: 1.5rem;

      &::before {
        top: 1.5rem;
      }
    }
  }

  .experience-date,
  .education-date {
    margin-top: -0.5rem;
  }
}

@media (min-width: $desktop-min-width) {
  .experiences,
  .educations {
    display: flex;
  }

  .experience,
  .education {
    border-color: $yellow;
    border-left-style: none;
    border-left-width: 0;
    border-top-style: solid;
    border-top-width: 0.5em;
    padding: 1em 0.75em;

    &::before {
      left: 0;
      top: -1.15em;
    }
  }

  .experience {
    flex-basis: math.div(100%, 3);
  }

  .education {
    flex-basis: 50%;
  }
}

.experience-date,
.education-date {
  background-color: $yellow;
  display: inline-block;
  font-size: 1.2em;
  padding: 0.75em 1em;
  text-transform: uppercase;
}

.experience-title,
.education-title {
  font-size: 1.4em;
  margin-top: 1.5em;
  text-transform: uppercase;
}

.experience-location,
.education-location {
  font-size: 1.4em;
  font-weight: $font-light-weight;
  margin-top: 0.5em;
}

.experience-missions {
  font-size: 1.2em;
  line-height: 1.2em;
  margin-top: 1.5em;

  & > li + li {
    margin-top: 0.5em;
  }
}

@media (min-width: $laptop-min-width) {
  .education-section {
    & > .section-wrapper {
      display: flex;
      justify-content: space-between;
    }
  }

  .education-wrapper {
    flex-basis: 40%;
  }

  .resume {
    flex-basis: 60%;
  }
}

@media (min-width: $desktop-min-width) {
  .education-wrapper {
    flex-basis: 55%;
  }

  .resume {
    flex-basis: 35%;
  }
}

.education {
  &::before {
    border-color: #fff;
  }
}

.education-icon {
  font-size: 6em;
}

@media (max-width: $tablet-max-width) {
  .resume {
    margin-top: 2rem;
  }
}

.resume {
  align-content: center;
  background-color: $yellow;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 4rem 2rem;
  text-align: center;

  > * {
    flex-basis: 100%;
  }
}

.resume-description {
  font-size: 1.4em;
  margin-top: 1rem;
}

.resume-link {
  background-color: #fff;
  color: $gray;
  display: inline-block;
  flex-basis: auto;
  font-size: 1.6em;
  margin-top: 1.5rem;
  padding: 1rem 2rem;
  text-decoration: none;
  text-transform: uppercase;
}

.interests {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 4em;
}

.interest {
  text-align: center;
}

.interest-name {
  font-size: 1.4em;
  margin-top: 1em;
  text-transform: uppercase;
}

@mixin interest($interest-per-line) {
  .interest {
    flex-basis: math.div(100%, $interest-per-line);

    &:nth-of-type(n + #{($interest-per-line + 1)}) {
      margin-top: 3em;
    }
  }
}

@media (max-width: $mobile-max-width) {
  @include interest(2);
}

@media (min-width: $tablet-min-width) and (max-width: $tablet-max-width) {
  @include interest(3);
}

footer {
  border-bottom: solid 1em $yellow;
  font-size: 1.2em;
  padding: 3em 8%;
  text-align: center;

  & > a {
    color: inherit;
  }
}
